@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #323b3b;
  max-width: 1400px;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Roboto', sans-serif;
}